.App {
  text-align: center;
}

.main-bg {
  height: 300px;
  background-image: url(../public/img/Logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nopage {
  background-color: rgb(231, 103, 64);
  height: 80vh;
  color: white;
}
.nopageline {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10em;
}